<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <mapping class="server.db.entities.User"/>
        <mapping class="server.db.entities.Ingredient"/>
        <mapping class="server.db.entities.CocktailGroup"/>
        <mapping class="server.db.entities.Cocktail"/>
        <mapping class="server.db.entities.Cocktail_Ingredient"/>
        <mapping class="server.db.entities.Dispenser"/>
        <mapping class="server.db.entities.Dispenser"/>
        <mapping class="server.db.entities.HistoryLog"/>
    </session-factory>
</hibernate-configuration>